
  h1  {
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  .top-image {
    padding-bottom: 10px;
    max-width: 15%;
  }
  
  #img-caption{
    padding-bottom: 10px;
    justify-content: left;
    /* font-family: Verdana, Geneva, sans-serif; */
  }
  
  #tribute-info{
    padding-bottom: 10px;
  }
  
  #link{
    padding-bottom: 15px;
  }
  
  
  
  
  